.wrapper {
    margin: 0 auto;
    margin-top: 3rem;

    /* @media (min-width: em(36)) {
        width: 100%;
    }
    @media (min-width: em(48)) {
        width: 100%;
    } */
}

.button {
    max-width: 8rem;
    margin: .2rem;
}